
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
table,
th,
td {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #ffd700; 
}

/* Formulário e botão */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

.btn-primary {
    background-color: #007bff; 
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

/* Tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* Detalhes em card */
.card {
    width: 100%;
    max-width: 400px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    background-color: #555;
    padding: 10px;
    color: #ffd700; 
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffd700;
}

.card-subtitle {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #bbb;
}

.card-text {
    color: #ddd;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.card-info-item {
    flex: 1;
    margin-right: 10px;
}


.btn-secondary {
    background-color: #6c757d; 
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

#loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 234, 234, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#loader-image {
    width: 100px; 
    height: auto;
}

#loading-text {
    margin-top: 10px;
    color: white;
}

@keyframes dots {
    0%, 20% {
        content: "Power";
    }
    40% {
        content: "is";
    }
    60% {
        content: "loading";
    }
    80% {
        content: "...";
    }
    
    90%, 100% {
        content: "";
    }
}

#loading-dots::after {
    content: "";
    animation: dots 2s infinite;
    display: inline-block;
}

.loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 217, 217, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.loader-container img {
    width: 100px;  
    height: 100px; 
}

.loader-container p {
    color: white;
    margin-top: 10px;
}
