.custom-modal {
    padding: 15px;
  }
  
  .btn-close {
    font-size: 1.5rem;
  }
  
  #dataContainer .btn {
    margin-bottom: 10px;
  }

  .details-container button {
    position: relative;
    z-index: 1000; 
}